.vxe-table{
  color: #333;
}
.vxe-table--render-default{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important
}
.vxe-table--render-default.border--default .vxe-table--header-wrapper, .vxe-table--render-default.border--full .vxe-table--header-wrapper, .vxe-table--render-default.border--outer .vxe-table--header-wrapper{
  background-color: #f2f5f9  !important;
}
.vxe-icon-caret-up:before{
  font-size: 12px;
}
.vxe-icon-caret-down:before{
  font-size:12px;
}
.vxe-table .vxe-sort--asc-btn{
  top:-2px;
}
.vxe-table .vxe-sort--desc-btn{
  bottom:1px !important;
}
.vxe-table--render-default .vxe-table--empty-content{
  margin:20px 0;
}
.vxe-table--render-default .vxe-body--column:not(.col--ellipsis), .vxe-table--render-default .vxe-footer--column:not(.col--ellipsis), .vxe-table--render-default .vxe-header--column:not(.col--ellipsis){
  padding: 6px 0 !important;
}
.vxe-table--render-default .vxe-body--row.row--checked{
  background-color: #e0e6ed4d !important;
}
.vxe-table--render-default.border--inner .vxe-table--header-wrapper, .vxe-table--render-default.border--none .vxe-table--header-wrapper {
  background-color: #f2f5f9 !important;
  border-radius: 4px !important;
}
.vxe-table--render-default .vxe-body--row.row--hover{
  background-color: #ecf5ff !important;
}
.vxe-table--render-default.border--inner .vxe-table--border-line {
  border-width: 0 !important;
}

.span-price{
  color: #ee9b3e;
}
.vxe-table--header-border-line,.vxe-table--render-default .vxe-body--x-space{
  display: none;
}
.vxe-header--column .vxe-resizable{
  margin-right: 1px;
}
.vxe-resizable::after{
  position: absolute;
  content: "";
  height: 19px;
  width: 1px;
  top: 9px;
  background: #ccc;
}
.vxe-cell--title{
  font-size: 12px;
}
.col--valid-error{
  .el-input__wrapper, 
  .el-input__wrapper.is-focus, 
  .el-input__wrapper:focus, 
  .el-input__wrapper:hover, 
  .el-select__wrapper,
  .el-select__wrapper.is-focus, 
  .el-select__wrapper:focus, 
  .el-select__wrapper:hover, 
  .el-textarea__inner,
  .el-textarea__inner.is-focus,
  .el-textarea__inner:focus,
  .el-textarea__inner:hover {
    box-shadow: 0 0 0 1px var(--el-color-danger) inset;
  }
}

.disable-row{
  color: #8d8d8d !important;
}
.vxe-header--column{
  background-image: unset !important;
}
.vxe-table--header{
  background-color: #f2f5f9 !important;
}

.vxe-header--column .vxe-cell-title-prefix-icon, .vxe-header--column .vxe-cell-title-suffix-icon {
  cursor: help;
  margin-left: 4px;
  font-size: 12px;
  color: #2577cb;
}

.vxe-table--tooltip-wrapper.theme--light{
  background-color: var(--el-color-primary) !important;
  border: 1px solid var(--el-color-primary) !important;
  color: #fff;
}
.vxe-table--tooltip-wrapper.theme--light.placement--top .vxe-table--tooltip-arrow {
  border-top-color: var(--el-color-primary) !important;
}
.vxe-table--tooltip-wrapper.theme--light.placement--top .vxe-table--tooltip-arrow:before {
  border-top-color: var(--el-color-primary) !important;
}

.vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.vxe-table--render-default .vxe-header--column.col--ellipsis{
  height: 38px !important;
}
.rightButton {
  display: none;
  position: absolute;
  .table-header-icon{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }
}

.vxe-table--empty-content{
  height:unset !important;
  .el-empty{
    padding: 0 !important;
  }
  .el-empty__image{
    width: 65px;
  }
}
.col--center{
  .el-form-item__content{
    justify-content: center;
  }
}
.col--left{
  .el-form-item__content{
    justify-content: start;
  }
}
.col--right{
  .el-form-item__content{
    justify-content: end;
  }
}
