@use '@/assets/fonts/font.css';
@use './var.css';
@use './FormCreate/index.scss';
@use 'element-plus/theme-chalk/dark/css-vars.css';
@use './vxetable.scss';

* {
  font-family:
    PF,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}
.reset-margin [class*='el-icon'] + span {
  margin-left: 2px !important;
}

// 解决抽屉弹出时，body宽度变化的问题
.el-popup-parent--hidden {
  width: 100% !important;
}

// 解决表格内容超过表格总宽度后，横向滚动条前端顶不到表格边缘的问题
.el-scrollbar__bar {
  display: flex;
  justify-content: flex-start;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px; /* 滚动条的宽度 */
  height: 8px; /* 滚动条的高度 */
  cursor: pointer;
}

/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道的背景颜色 */
  -webkit-box-shadow: inset 0 0 5px rgba(240, 240, 240, 0.5) !important;
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px rgba(240, 240, 240, 0.5);
  border-radius: 6px;
  background: #afadad;
  cursor: pointer;
}

/* 滚动条的滑块在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* 滑块悬停时的背景颜色 */
}

/* 滚动条的角落 */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* 角落的背景颜色 */
}
/* nprogress 适配 element-plus 的主题色 */
#nprogress {
  & .bar {
    background-color: var(--el-color-primary) !important;
  }

  & .peg {
    box-shadow:
      0 0 10px var(--el-color-primary),
      0 0 5px var(--el-color-primary) !important;
  }

  & .spinner-icon {
    border-top-color: var(--el-color-primary);
    border-left-color: var(--el-color-primary);
  }
}

.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: 100%;
}

.el-drawer__header {
  margin-bottom: 0 !important;
}

.el-dialog {
  padding: 0;
}
.el-dialog__wrapper {
  overflow: hidden;
  max-height: 100vh;
}
.el-dialog__header {
  padding: 16px 16px 8px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}
.el-dialog__body {
  max-height: 80vh;
  box-sizing: border-box;
  overflow-y: auto;
}
.el-dialog__footer {
  padding: 16px;
  box-sizing: border-box;
  border-top: 1px solid #e8e8e8;
}
.el-dialog__close {
  font-weight: 600;
}
.table-header {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  .table-header-tips-icon {
    color: #0d84ff;
    font-size: 14px;
    margin-left: 4px;
  }
}
// 处理提示框的颜色
.tooltips {
  background: var(--el-color-primary) !important;
  border: 1px solid var(--el-color-primary) !important;
  color: #fff;
}

// 处理箭头的颜色
.tooltips .el-popper__arrow::before {
  background: var(--el-color-primary) !important;
  border: 1px solid var(--el-color-primary) !important;
}

.requird-span{
  color: #f56c6c;
  margin-right: 4px;
}

.el-backtop{
  z-index: 9999;
}

.group-tips-content{
  display: flex;
  align-items: center;
  background: #fff3ea;
  padding: 5px 18px;
  border-radius: 8px;
  color: #333;
  margin-bottom:10px;
  i{
    color: #ff7b17;
    margin-right: 4px;
  }
}
.form-detail-tag-bold{
  font-weight: bolder;
}

.form-detail-tag-red{
  color: #ff0000;
}
